@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway&display=swap');
body {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #D0F0C0;
    opacity: 0.9;
    max-width: 1600px;
}
nav {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #7BA470;
    font-family: 'Raleway',sans-serif;

}
nav a {
    color: black;
    text-decoration: none;
    padding: 35px;
    border-radius: 10px; 
}
nav a:hover {
    background-color:#1A3E1C;
    color: #F5F2FF;
}
.dropdown {
    overflow: hidden;
    display: flex;
    flex-direction: column; /* or row, depending on your design */
}
.nav-item, .subnav-item {
    margin: 0;
    padding: 1em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: black;
}
.drop-down-content, .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: black;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.drop-down-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
.drop-down-content a {
    float: none;
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.drop-down-content a:hover {
  background-color: #8A9A5B;
}

.dropdown:hover .drop-down-content {
  display: block;
}
#title {
    margin: 20px 0;
    text-align: center;
    padding: 50px;
    color: white;
    background-color: #1A3E1C;
}
img {
    max-width: 1200px;
    margin: 20px;
    justify-self: center;
}